language: objective-c

xcode_workspace: mobile/ios/Marshmallow/Marshmallow.xcworkspace
xcode_scheme: Marshmallow
podfile: mobile/ios/Marshmallow/Podfile
osx_image: xcode7

before_script:
  - npm install -g gulp
  - cd server
  - npm install
  - cd ../
  - gulp --gulpfile server/gulpfile.js
script:
  - xctool -workspace mobile/ios/Marshmallow/Marshmallow.xcworkspace -scheme Marshmallow -sdk iphonesimulator build CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO test
